
<div class="container" *ngIf="idCliente">
  <div class='enderecos' *ngIf="enderecos">
    <p>Endereço de Entrega:</p>
    <div class="container-endereco" *ngFor="let endereco of enderecoData; let i = index">
      <input class='form-check-input' type="radio" [id]="'option' + i" name="option" [value]="endereco.cep" (click)="selecionarEndereco(endereco)">
      <div class="card-endereco">
        <span id="enderecoPrincipal" *ngIf="endereco.enderecoPrincipal"> Endereço Principal</span>
        <span>{{ endereco.logradouro }}, {{ endereco.numero }} - {{ endereco.bairro }},
          {{ endereco.cidade }} - {{ endereco.uf }}, {{ endereco.cep }}
        </span>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-outline-primary" (click)="addEndereco()">ADICIONAR ENDEREÇO</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="formaPagamento()"
      [disabled]="!enderecoInserido"
      >FORMA DE PAGAMENTO</button>
  </div>
</div>
