<div class="container">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" *ngIf="telaParaExibir === 'carrinho'" aria-current="page">CARINHO</a>
      <a class="nav-link" *ngIf="telaParaExibir !== 'carrinho'" (click)="trocarTelaCarrinho()">CARINHO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" *ngIf="telaParaExibir === 'endereco'" aria-current="page">ENDEREÇO</a>
      <a class="nav-link" *ngIf="telaParaExibir !== 'endereco'" (click)="trocarTelaEndereco()">ENDEREÇO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" *ngIf="telaParaExibir === 'pagamento'" aria-current="page">FORMA DE PAGAMENTO</a>
      <a class="nav-link" *ngIf="telaParaExibir !== 'pagamento'" (click)="trocarTelaFormaPagamento()">FORMA DE
        PAGAMENTO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" *ngIf="telaParaExibir === 'confirmacao'" aria-current="page">CONFIRMAÇÃO</a>
      <a class="nav-link" *ngIf="telaParaExibir !== 'confirmacao'" (click)="trocarTelaConfirmacao()">CONFIRMAÇÃO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" *ngIf="telaParaExibir === 'concluir'" aria-disabled="true">CONCLUIR</a>
      <a class="nav-link" *ngIf="telaParaExibir !== 'concluir'" aria-disabled="true"
        (click)="trocarTelaConcluir()">CONCLUIR</a>
    </li>
  </ul>

  <app-carrinho *ngIf="telaParaExibir === 'carrinho'    "></app-carrinho>
  <app-selecionar-endereco *ngIf="telaParaExibir === 'endereco'    "></app-selecionar-endereco>
  <app-pagamento *ngIf="telaParaExibir === 'pagamento'   "></app-pagamento>
  <app-resumo *ngIf="telaParaExibir === 'confirmacao' "></app-resumo>
  <app-finalizar *ngIf="telaParaExibir === 'concluir'    "></app-finalizar>

</div>
