<section class="container login ff-inter">
  <header class="header">
      <h2>Fazer Login:</h2>
  </header>
  <form [formGroup]="formulario">
    <label for="email">E-mail</label>
    <input
      type="text"
      class="input"
      id="email"
      formControlName="email"
      placeholder="Digite o e-mail"
    >
    <label for="senha">Senha</label>
    <input
      type="password"
      class="input"
      id="senha"
      formControlName="senha"
      placeholder="Digite a senha"
    >
    <div class="acoes">
      <button
        (click)="solicitarLogin()"
        (keypress)="solicitarLogin()"
        class="botao"
        type="submit"
        routerLink="/backoffice"
      >Entrar
      </button>
  </div>
  </form>
</section>
