<section class="container">
  <div class="title">
    <label>Login</label>
  </div>
    <h2>Fazer Login:</h2>
    <form class="form-login" [formGroup]="formulario">
      <label for="usuario">E-mail</label>
      <input
        type="text"
        class="input"
        id="usuario"
        formControlName="usuario"
        placeholder="Digite o e-mail"
      />
      <div
        class="mensagem__erro"
        *ngIf="formulario.get('usuario')?.errors?.['required'] && formulario.get('usuario')?.touched"
      >
        E-mail é obrigatório!
      </div>
      <div
        class="mensagem__erro"
        *ngIf="formulario.get('usuario')?.errors?.['email'] && formulario.get('usuario')?.touched"
      >
        Digite um e-mail válido!
      </div>
      <div
      class="mensagem__erro"
      *ngIf="formulario.get('usuario')?.hasError('pattern') && formulario.get('usuario')?.touched"
      >
      E-mail inválido! Deve ser no formato correto.
      </div>
    <label for="senha">Senha</label>
    <input
      type="password"
      class="input"
      id="senha"
      formControlName="senha"
      placeholder="Digite a senha"
    />
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched"
    >
      Senha é obrigatoria!
    </div>
    <div
      class="mensagem__erro"
      *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched"
    >
      Senha tem mínimo de 3 caracteres!
    </div>
    <div class="login">
      <button
        [disabled]="!formulario.valid"
        (click)="solicitarLogin()"
        ((keypress))="solicitarLogin()"
        [ngClass]="habilitarBotao()"
      >
        Entrar
      </button>
    </div>
  </form>
</section>
