.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 50px;
  width: 200px;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: none;
  border-radius: 2px;
  padding: 2rem;
  width: 600px;
  height: 400px;
}

.login form label {
  color: #1e90ff;
  font-weight: bold;
  margin: 0 0 1rem;
}

.login form .input {
  border: none;
  height: 30px;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin: 0.5rem 0 2rem;
  border: 2px solid #1e90ff;

}

.login form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.botao__desabilitado {
  margin: 5px;
  margin-top: 70px;
  width: 230px;
}
