.header {
  background-color: #1e90ff;
  display: grid;
  grid-template-columns: 20% 45% 15% 15% 5%;
  grid-template-rows: 1;
  grid-auto-columns: auto;
  justify-content: baseline;
  margin: 0;
  width: 100%;
  height: 100px;
}

.logo{
  grid-column: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;

}

.logo img{
  width: 100px;
  object-fit: cover;
}

.pesquisa{
  grid-column: 2;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.pesquisa input{
  width: 100%;
  margin-right: 10px;
  padding-left: 20px;
}

.pesquisa button{
  padding: 0;
  border: none;
}

.pesquisa img{
  background-color: #1e90ff;
  border: 0;
  width: 30px;
}

.conta{
  grid-column: 3;
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.conta img{
  width: 38px;

}

.conta span{
  font: 0.8em 'Inter',sans-serif;
  color: #fff;
  font-weight: 200;
}

.conta a{
  font: 0.9em 'Inter', sans-serif;
  font-weight: 600;
}

.conta a:hover{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;

}

.carrinho{
  grid-column: 4;
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrinho a:hover{
  cursor: pointer;
}

.deslogar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.deslogar a{
  font: 1.1em 'Inter', sans-serif;
  margin: 0px 10px ;
  color: #fff;
}

.deslogar a:hover{
  cursor: pointer;
  text-shadow: 0px 0px 8px #fff;
  font-size: 1.2em;
}

.deslogar img{
  margin-right: 25px ;
  width: 25px;

}

.deslogar img:hover{
  cursor: pointer;
}

.modal-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header h4{
  color: red;
}

.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body p{
  font: 1em 'Inter', sans-serif;
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
