<header>
  <div class="header">
    <div class="logo">
      <a href="" (click)="telaPrincipal()">
        <img
          src="../../../assets/image/logo_cabecalho.png"
          alt="logo-nexustech"
        />
      </a>
    </div>

    <div class="pesquisa">
      <input type="text" placeholder="Pesquisar" />
      <button type="submit">
        <img
          class="icone-lupa"
          src="../../../assets/image/lupa.png"
          alt="lupa-pesquisar"
        />
      </button>
    </div>

    <div class="conta" *ngIf="!logado">
      <img
        class="icone-login"
        src="../../../assets/image/avatar.png"
        alt="login"
      />
      <span>
        Faça <a (click)="Login()">LOGIN</a> ou <br />
        crie seu <a (click)="registrar()">CADASTRO</a>
      </span>
    </div>

    <div class="conta" *ngIf="logado">
      <span>
        Olá, {{ getPrimeiroNome() }} <br />
        <a (click)="alterarDados()"> MINHA CONTA</a> |
        <a (click)="open(mymodal)"> SAIR </a>
      </span>
    </div>

    <div class="carrinho">
      <a (click)="carrinho()">
        <img
          class="icone-carrinho"
          src="../../../assets/image/carrinho-de-compras.png"
          alt="carrinho"
        />
      </a>
    </div>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">LOGOFF</h4>
    </div>
    <div class="modal-body">
      <p>Deseja Realmente encerrar a Sessão?</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="deslogar()"
        (click)="modal.close()"
      >
        Confirmar
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close()"
      >
        Cancelar
      </button>
    </div>
  </ng-template>
</header>
