.header {
  background-color: #007BFF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: sans-serif;
}

.logo img {
  width: 100px;
  border-radius: 100%;
}

.icone-lupa {
  width: 25px;
}

.icone-carrinho {
  width: 25px;
}

.icone-login {
  width: 20px;
}

.carrinho a {
  background-color: #1b75d4;
  ;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.carrinho a:hover {
  background-color: #0056b3;
}

.conta {
  padding-left: 50px;
  font-size: 15px;
}

.conta a {
  color: #000000;
}

.conta a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.pesquisa {
  display: flex;
  align-items: center;
}

.pesquisa input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 16px;
  width: 350px;
}

.pesquisa button[type="submit"] {
  background-color: #1b75d4;
  ;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pesquisa button[type="submit"]:hover {
  background-color: #0056b3;
}
