<header>
  <div class="header">
  <div class="logo">
      <img src="../../../assets/image/logo-nexustech.png" alt="logo-nexustech">
  </div>
  <div class="pesquisa">
      <input type="text" placeholder="Pesquisar">
      <button type="submit"><img class="icone-lupa" src="../../../assets/image/lupa.png" alt="lupa-pesquisar"></button> <!-- Ícone de pesquisa no botão -->

  <div class="conta">
      <a href="#"></a>
      <span>
         <img class="icone-login" src="../../../assets/image/icone-login.png" alt="login">
          Faça <a href="#">LOGIN</a>
          ou
          <br>
          crie seu
          <a href="#">CADASTRO</a>
      </span>
  </div>

  </div>
  <div class="carrinho">
      <a href="#">
          <img class="icone-carrinho" src="../../../assets/image/icone-carrinho.png" alt="carrinho"></a>
  </div>
</div>
</header>
