.cabecalho {
  background: url(/assets/imagens/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 31%;
  padding: 1rem 2rem;
}

.cabecalho .logo img {
  width: 80%;
  max-width: 300px;
  margin-bottom: 2rem;
  border: 2px solid red;
}

.cabecalho .imagem{
  width: 20%;
}

.cabecalho p {
  font-size: 2rem;
  color: #6BD1FF;
}

@media (max-width: 500px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
