.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  background-color: #fff;
  height: 100%;
}

.title {
  margin-top: 20px;
}

.title label {
  text-align: center;
  width: 100%;
  font: 3em 'Inter', sans-serif;
  color: #000;
  font-weight: bold;
}

.form-cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.form-cadastro label{
  width: 60%;
  font: 1.2em 'Inter',sans-serif;
  margin: 10px 0px;
  color: #1e90ff;
}
.form-cadastro input{
  width: 60%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1e90ff;
  font: 18px 'Inter',sans-serif;
}

.form-cadastro select{
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1e90ff;
  font: 18px 'Inter',sans-serif;
}

.title {
  margin-top: 20px;
}

.title label {
  font: 3em 'Inter', sans-serif;
  color: #000;
  font-weight: bold;
}

div{
  width: 60%;
  color: red;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alterUser {
  margin-top: 10px;
}

.alterUser:hover {
  cursor: pointer;
}

.cancel {
  margin: 0;
  padding: 15px 10px;
  background-color: #1e90ff;
  color: #fff;
  margin: 10px 0px;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 270px;
}

.cancel:hover {
  cursor: pointer;
}
