<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data Compra</th>
        <th scope="col">Status Entrega</th>
        <th scope="col">Forma Depagamento</th>
        <th scope="col">Valor da Compra</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of listaProdutos" class="table">
        <td scope="row">{{ item.dadosVenda.dataCompra }}</td>
        <td scope="row">
          <select id="statusEntrega" class="form-select" aria-label="Default select example"
            [(ngModel)]="item.dadosVenda.statusEntrega" (change)="alterarStatus(item.dadosVenda.id)">
            <option *ngFor="let status of statusEntrega" [value]="status">{{ status }}</option>
          </select>
        </td>
        <td scope="row">{{ item.formaPagamento.formaPagamento }}</td>
        <td scope="row">{{ formatarMoeda(item.formaPagamento.valorTotal) }}</td>
      </tr>
    </tbody>
  </table>
</div>
