<section class="container">
  <div class="title">
    <label>USUARIOS</label>
  </div>
  <div class="userSearch">
    <label>Pesquisar</label>
    <input type="text" class="campoPesquisar">
    <button class="btnPesquisar"><img src="../../../../assets/image/lupa.png" alt="lupaPesquisar"></button>
  </div>
  <table>
    <tr>
      <th>Nome </th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Status</th>
      <th>Alterar</th>
      <th>Hab/des</th>
    </tr>
    <tr *ngFor="let item of arr" class="table">
      <td> {{ item.nomeUsuario  }} </td>
      <td> {{ item.emailUsuario }} </td>
      <td> {{ item.tipoUsuario  }} </td>
      <td> {{ item.ativoInativo }} </td>
      <td><button class="btnUserEdit"><img src="../../../../assets/image/editar.png" alt="editarUsuario"></button></td>
      <td><button class="btnUserEdit" (click)="deletarusuario( item.id )">Ativar Desativar</button></td>
    </tr>
</table>

<button class="newUser" id="btnNewUser" name="btnnewUser" (click)="cadastrarNovo()">CADASTRAR</button>
</section>
