.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  background-color: #fff;
  height: 100%;
}

.container-produtos {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2;
  grid-template-rows: 6;
  box-shadow: 0px 0px 2px 2px gray;
  width: 800px;
  height: 600px;
  z-index: 1;
}

.title {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.title p {
  font: 2em 'Inter', sans-serif;
  color: #000;
  text-align: center;
}

.infoProdutos {
  width: 300px;
  height: 100%;
  grid-column: 2;
  grid-row: 2 / span 6;
}

.quantidade {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 10%;
}

.quantidade p {
  font: 1.2em 'Inter', sans-serif;
  margin: 0px 20px;
}

.quantidade label {
  font: 1.2em 'Inter', sans-serif;
}

.preco {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  height: 40%;
}

.preco p {
  font: 2.5em 'Inter', sans-serif;
  margin: 0px 15px;
  font-weight: bold;
}

.preco label {
  font: 2.5em 'Inter', sans-serif;
  font-weight: bold;
}

.descricao {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  height: 40%;
}

.descricao p {
  font: 1.2em 'Inter', sans-serif;
}

.descricao label {
  font: 1.2em 'Inter', sans-serif;
}

.avaliacao {
  grid-column: 2;
  grid-row: 5;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avaliacao p {
  font: 1.2em 'Inter', sans-serif;
  margin: 0px 10px;
}

.avaliacao label {
  font: 1.2em 'Inter', sans-serif;
  margin: 0px 0px 0px 10px;
}

.avaliacao img {
  width: 100px;
  height: 100px;
}

.imagemPrincipal{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1 / span 5;
  width: 370px;

}

.imagensSecundarias{
  display: flex;
  flex-direction: column;
  grid-column: 1;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgba(0,0,0,0.2);
}

.imagensSecundarias img:hover{
  cursor: pointer;
}

.containerImage
{
  grid-column: 1;
  grid-row: 2 / span 6;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2;
  grid-template-rows: 5;
  width: 480px;
  height: 95%;
  margin: 5px;
}


