<section class="container">
  <div class="container-produtos">
    <div class="title">
      <p>{{ productData.produto.nomeProduto }}</p>
    </div>
    <div class="infoProdutos">
      <div class="descricao">
        <p>{{ productData.produto.descricaoDetalhadaProduto }}</p>
      </div>
      <div class="preco">
        <label>R$</label>
        <p>{{ productData.produto.precoProduto }}</p>
      </div>
      <div class="quantidade">
        <label>Disponivel </label>
        <p>{{ productData.produto.qtdEstoque }}</p>
        <label> Unidades</label>
      </div>
      <div class="avaliacao">
        <p>{{ productData.avaliacaoProdutoRecord.avaliacao }}</p>
        <img src="../../../../assets/image/estrelas.png" alt="avaliacao">
      </div>
    </div>
    <div class="containerImage">
      <div class="imagemPrincipal">
        <img
          [src]="imagemPrincipal"
          [alt]="imagemPrincipal"
          [width]="250"
          [height]="250"
          (click)="trocarImagemPrincipal(imagemPrincipal)"
        />
      </div>
      <div class="imagensSecundarias" *ngFor="let foto of productData.fotosProdutoRecord">
        <ng-container class="imagensSecundarias" *ngIf="foto.nomeImg">
          <img [src]="getFullPath(foto.nomeImg)" [alt]="foto.nomeImg" [width]="80" [height]="80" (click)="trocarImagemPrincipal(getFullPath(foto.nomeImg))" />
        </ng-container>
      </div>
    </div>

  </div>
  <p class="Ativo">{{ productData.produto.ativoInativo }}</p>
</section>
