<section class="container">
  <div class="container-produtos">
    <div class="title">
      <p>{{ productData.produto.nomeProduto }}</p>
    </div>
    <div class="infoProdutos">
      <div class="quantidade">
        <label>Quantidade: </label>
        <p>{{ productData.produto.qtdEstoque }}</p>
        <label> Disponiveis</label>
      </div>
      <div class="preco">
        <label>R$</label>
        <p>{{ productData.produto.precoProduto }}</p>
      </div>
      <div class="descricao">
        <label>Descrição:</label>
        <p>{{ productData.produto.descricaoDetalhadaProduto }}</p>
      </div>
      <div class="avaliacao">
        <label>Avaliação: </label>
        <p>{{ productData.avaliacaoProdutoRecord.avaliacao }}</p>
        <img src="../../../../assets/image/estrelas.png" alt="avaliacao">
      </div>
    </div>
    <div class="imagens" *ngFor="let foto of productData.fotosProdutoRecord">
      <img [src]="getFullPath(foto.nomeImg)" [alt]="foto.nomeImg" [width]="150" [height]="150" />
    </div>
  </div>


  <p class="Ativo">{{ productData.produto.ativoInativo }}</p>

</section>
