<app-cabecalho></app-cabecalho>
<section class="container">
  <div class="row">
    <div class="container-card" *ngFor="let produto of productData">
      <div class="card">
        <div  *ngFor="let foto of produto.fotosProdutoRecord">
          <ng-container *ngIf="foto.flagImg === 'p'">
            <img [src]="getFullPath(foto.nomeImg)" [alt]="foto.nomeImg" [width]="100" [height]="100" />
          </ng-container>
        </div>
        <div class="infoProduto">
          <h2 id="nomeProduto">{{ produto.produto.nomeProduto }}</h2>
          <p id="valorProduto">{{ formatarMoeda(produto.produto.precoProduto) }}</p>
          <p id="quantidadeProduto">Quant. <br>{{ idsCount[produto.produto.id] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-subtotal">
    <div class="subtotal">
      <h2 id="titleSubtotal">Subtotal</h2>
      <p id="totalSubtotal">{{ formatarMoeda(subtotal) }}</p>
      <button class="btn-comprarMais" type="button" (click)="paginaPrincipal()">Continuar Comprando</button>
    </div>

  </div>
</section>
