<app-cabecalho></app-cabecalho>
<section class="container">
  <div class="title">
    <label>Criar Conta</label>
  </div>

  <form class="form-cadastro" [formGroup]="formulario">

    <div class="nome">
      <input
        type="text"
        class="input"
        id="nome"
        formControlName="nome"
        placeholder="Nome*"
        >
      <div *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
        O Nome é Obrigatório.
      </div>
      <div *ngIf="formulario.get('nome')?.errors?.['nomeClienteValidator'] && formulario.get('nome')?.touched">
        O nome do cliente deve conter duas palavras com pelo menos 3 letras em cada palavra.
      </div>

    </div>

    <div class="dataNascimento-telefone">
      <div class="dataNascimento">
        <input
          type="text"
          class="input"
          id="dataNascimento"
          formControlName="dataNascimento"
          placeholder="Data de Nascimento*"
          onfocus="(this.type='date')"
          onblur="formatDateAndChangeInputType('text')"
          >
        <div
          *ngIf="formulario.get('dataNascimento')?.errors?.['required'] && formulario.get('dataNascimento')?.touched">
          Obrigatório informar a data de Nascimento.
        </div>
      </div>

      <div class="telefone">
        <input
          type="text"
          class="input"
          id="telefone"
          formControlName="telefone"
          placeholder="Telefone*"
          maxlength="11"
          (input)="apenasNumeroTelefone()"
          >
        <div *ngIf="formulario.get('telefone')?.errors?.['required'] && formulario.get('telefone')?.touched">
          Informe ao menos um telefone.
        </div>
      </div>

    </div>

    <div class="genero-cpf">

      <div class="genero">
        <select formControlName="genero">
          <option value="" disabled selected>Selecione um Gênero*</option>
          <option *ngFor="let escolhido of genero" [value]="escolhido">
            {{ escolhido}}
          </option>
        </select>
        <div *ngIf="formulario.get('genero')?.errors?.['required'] && formulario.get('genero')?.touched">
          Escolha seu genero.
        </div>
      </div>

      <div class="cpf">
        <input
          type="text"
          class="form-control"
          id="cpf"
          formControlName="cpf"
          maxlength="14"
          placeholder="CPF*"
          (input)="apenasNumeroCPF()"
          >
        <div *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched">
          O CPF é Obrigatório
        </div>
        <div *ngIf="formulario.get('cpf')?.errors?.['maxLength'] && formulario.get('cpf')?.touched">
          Informe um cpf valido!
        </div>
        <div *ngIf="formulario.get('cpf')?.errors?.['minLength'] && formulario.get('cpf')?.touched">
          Informe um cpf valido!
        </div>
      </div>

    </div>

    <div class="email">
      <input
        type="text"
        class="form-control"
        id="email"
        formControlName="email"
        name="email"
        placeholder="E-mail*"
        (input)="onInputChanged()"
        (blur)="procurarEmail()"
        autocomplete="off"
        >
      <div *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
        Digite seu e-mail.
      </div>
      <div *ngIf="formulario.get('email')?.hasError('pattern') && formulario.get('email')?.touched">
        E-mail inválido! Deve ser no formato correto.
      </div>
    </div>

    <div class="senha-confirmarSenha">
      <div class="senha">
        <input
          type="password"
          class="input"
          id="senha"
          formControlName="senha"
          placeholder="Senha*"
          autocomplete="off"
          >
        <div class="mensagem__erro"
          *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
          Senha é obrigatoria!
        </div>
        <div class="mensagem__erro"
          *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched">
          Senha tem mínimo de 3 caracteres!
        </div>
      </div>

      <div class="confirmaSenha">
        <input
          type="password"
          class="input"
          id="confirmaSenha"
          formControlName="confirmacaoSenha"
          placeholder="Confirme sua senha*"
          autocomplete="off"
          >
        <div class="mensagem__erro"
          *ngIf="formulario.get('confirmacaoSenha')?.errors?.['required'] && formulario.get('confirmacaoSenha')?.touched">
          Senha é obrigatoria!
        </div>
        <div class="mensagem__erro"
          *ngIf="formulario.get('confirmacaoSenha')?.errors?.['minlength'] && formulario.get('confirmacaoSenha')?.touched">
          Senha tem mínimo de 3 caracteres!
        </div>
        <div class="mensagem__erro" *ngIf="
            !senhaCorrespondente && formulario.get('confirmacaoSenha')?.touched
          ">
          As senhas não coincidem!
        </div>
      </div>
    </div>

    <div class="endereco">
      <button class="enderecos" (click)="addEnderecos()">Endereços<img src="../../../../assets/image/endereco.png"></button>
    </div>

    <button class="newUser" (click)="cadastrarCliente()" [disabled]="!formulario.valid" [ngClass]="habilitarBotao()">
      CONTINUAR
    </button>
  </form>


</section>
