<app-cabecalho></app-cabecalho>
<section class="container">

  <div class="title">
    <label *ngIf="!idCliente">Criar Conta</label>
    <label *ngIf="idCliente">Alterar Conta</label>
  </div>

  <form class="form-cadastro" [formGroup]="formulario">
    <div class="nome">
      <input
        type="text"
        class="input"
        id="nome"
        [ngModel]="clienteData.nomeCliente"
        formControlName="nome"
        placeholder="Nome*"
      />
      <div
        *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched"
      >
        O Nome é Obrigatório.
      </div>
    </div>

    <div class="dataNascimento-telefone">
      <div class="dataNascimento">
        <input
          type="text"
          class="input"
          id="dataNascimento"
          [ngModel]="clienteData.datanascCliente"
          formControlName="dataNascimento"
          placeholder="Data de Nascimento*"
          onfocus="(this.type='date')"
          onblur="formatDateAndChangeInputType('text')"
        />
        <div
          *ngIf="formulario.get('dataNascimento')?.errors?.['required'] && formulario.get('dataNascimento')?.touched"
        >
          Obrigatório informar a data de Nascimento.
        </div>
      </div>

      <div class="telefone">
        <input
          type="text"
          class="input"
          id="telefone"
          [ngModel]="clienteData.telefoneCliente"
          formControlName="telefone"
          placeholder="Telefone*"
        />
        <div
          *ngIf="formulario.get('telefone')?.errors?.['required'] && formulario.get('telefone')?.touched"
        >
          Informe ao menos um telefone.
        </div>
      </div>
    </div>

    <div class="genero-cpf">
      <div class="genero">
        <select formControlName="genero">
          <!-- [ngModel]="clienteData.generoCliente" -->
          <option value="" disabled selected>Selecione um Gênero*</option>
          <option
            *ngFor="let escolhido of genero"
            [value]="escolhido"
            placeholder="Escolha o genero*"
            >
            {{ escolhido }}
          </option>
        </select>
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('genero')?.errors?.['required'] && formulario.get('genero')?.touched"
        >
          Escolha seu genero.
        </div>
      </div>

      <div class="cpf">
        <input
          type="text"
          class="form-control"
          id="cpf"
          [ngModel]="clienteData.cpfCliente"
          formControlName="cpf"
          maxlength="11"
          placeholder="CPF*"
        />
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched"
        >
          O CPF é obrigatório.
        </div>
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('cpf')?.touched && formulario.get('cpf')?.hasError('cpfInvalido')"
        >
          Informe um cpf valido!
        </div>
      </div>
    </div>

    <div class="email">
      <input
        type="text"
        class="form-control"
        id="email"
        [ngModel]="clienteData.emailCliente"
        formControlName="email"
        name="email"
        placeholder="E-mail*"
        (input)="onInputChanged()"
        (blur)="procurarEmail()"
        autocomplete="off"
      />
      <div
        class="mensagem__erro"
        *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched"
      >
        Digite seu e-mail.
      </div>
      <div
        class="mensagem__erro"
        *ngIf="formulario.get('email')?.hasError('pattern') && formulario.get('email')?.touched"
      >
        E-mail inválido! Deve ser no formato correto.
      </div>
    </div>

    <div class="senha-confirmarSenha">
      <div class="senha">
        <input
          type="password"
          class="input"
          id="senha"
          formControlName="senha"
          placeholder="Senha*"
          autocomplete="off"
        />
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched"
        >
          Senha é obrigatoria!
        </div>
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched"
        >
          Senha tem mínimo de 3 caracteres!
        </div>
      </div>

      <div class="confirmaSenha">
        <input
          type="password"
          class="input"
          id="confirmaSenha"
          formControlName="confirmacaoSenha"
          placeholder="Confirme sua senha*"
          autocomplete="off"
        />
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('confirmacaoSenha')?.errors?.['required'] && formulario.get('confirmacaoSenha')?.touched"
        >
          Senha é obrigatoria!
        </div>
        <div
          class="mensagem__erro"
          *ngIf="formulario.get('confirmacaoSenha')?.errors?.['minlength'] && formulario.get('confirmacaoSenha')?.touched"
        >
          Senha tem mínimo de 3 caracteres!
        </div>
        <div
          class="mensagem__erro"
          *ngIf="
            !senhaCorrespondente && formulario.get('confirmacaoSenha')?.touched
          "
        >
          As senhas não coincidem!
        </div>
      </div>
    </div>

    <div class="endereco">
      <button class="enderecos" (click)="addEnderecos()">
        Endereços<img src="../../../../assets/image/endereco.png" />
      </button>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      (click)="cadastrarCliente()"
      [disabled]="!formulario.valid"
      [ngClass]="habilitarBotao()"
    >
      CONTINUAR
    </button>
  </form>
</section>
