.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  background-color: #fff;
  height: 100%;
}

.title {
  margin: 50px 0px;
}

.title label {
  text-align: center;
  width: 100%;
  font: 2em "Inter";
  color: #1e90ff;
  font-weight: bolder;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-cadastro input {
  margin: 10px 0px;
  width: 95%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1e90ff;
  font: 0.8em 'Inter', sans-serif;
}

.form-cadastro select {
  margin: 10px 0px;
  width: 95%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #1e90ff;
  font: 0.8em "Inter", sans-serif;
}

.dataNascimento-telefone, .genero-cpf, .senha-confirmarSenha{
  display: flex;
  flex-direction: row;
  width: 60%;
}

.email input{
  width: 97.5%;
}

.nome input{
  width: 97.5%;
}

.newCustomer {
  margin: 10px 0px;
}

.enderecos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px ;
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: #1e90ff;
  font:1.1em 'Inter', sans-serif;


}


div {
  width: 60%;
  color: red;
}
