
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;
  margin: 0;
  width: 100%;

}

.botao {
  background: #1e90ff;
  color: #ffffff;
  max-width: 270px;
  width: 270px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #1e90ff;
  border-radius: 10px;
  transition: 0.5s ease;
}

.botao__desabilitado {
  background: #7a7f87;
  color: #ffffff;
  max-width: 270px;
  width: 270px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  transition: 0.5s ease;
}

.botao__desabilitado:hover{
  cursor: auto;
}

.botao:hover {
  border: 2px solid #1e90ff;
  color: #fff;
  cursor: pointer;
}

