.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  border: 2px solid red;
}

.container ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
