.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
  background-color: #fff;
  height: 100%;

}

.title {
  margin-top: 20px;
}
.title label {
  font: 2.5em "Inter", sans-serif;
  color: #000;
  font-weight: bold;
}

.userSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.userSearch input {
  position: relative;
  width: 70%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1e90ff;
  font: 18px "Inter", sans-serif;
  color: #000;
}

.userSearch input:focus {
  box-shadow: 0px 0px 2px 1px #1e90ff;
  border: 2px solid #1e90ff;
  outline: none;
}

.btnUserEdit {
  background-color: #fff;
  border: 1px solid transparent;
}

.btnUserEdit:hover {
  cursor: pointer;
}

table {
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  width: 100%;
  margin: 0;
}

table th {
  text-align: center;
  padding: 10px 0px;
  font: 1em "Inter", sans-serif;
  font-weight: 600;
}

table td {
  vertical-align: middle;
  padding: auto;
  font: 0.81em "Inter", sans-serif;
  text-align: center;
  border: 1px solid #000;
  max-width: 200px;
  min-width: 50px;
  text-align: center;
}

table td p {
  font: 1em "Inter", sans-serif;
}

.container_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 700px;
  overflow: auto;
  overflow-x: auto;
  border: 2px solid;
}

.newUser {
  padding: 25px 50px;
  background-color: #1e90ff;
  color: #fff;
  margin: 20px 0px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.newUser:hover {
  cursor: pointer;
}
