.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
  background-color: #fff;
  height: 100%;
}

/* Estilize o modal para cobrir toda a tela */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ajuste o z-index conforme necessário */
}

/* Estilize o fundo escurecido */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Cor escura com transparência */
}

/* Estilize o conteúdo do modal */
.modal-content {
  background-color: #fff; /* Cor de fundo do modal */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  position: relative;
  z-index: 10000; /* Ajuste o z-index conforme necessário */
}

/* Estilize o botão de fechar o modal */
.modal-fechar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  background: none;
  border: none;
  outline: none;
}

.newUser {
  padding: 25px 50px;
  background-color: #1e90ff;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
}
