<app-cabecalho-secundario></app-cabecalho-secundario>

<section class="container">
  <div class="container-perfil">
    <div class="title">
      <label>Perfil</label>
    </div>
    <form class="perfil" [formGroup]="formulario">
      <input [ngModel]="clienteData.nomeCliente" placeholder="Nome" formControlName="nome" />
      <input [value]="clienteData.cpfCliente" disabled />
      <input [ngModel]="clienteData.datanascCliente" placeholder="Data de Nascimento" formControlName="dataNascimento" />
      <input [ngModel]="clienteData.generoCliente" placeholder="Genero" formControlName="genero" />
      <input [value]="clienteData.telefoneCliente" disabled />
      <input [value]="clienteData.emailCliente" disabled />
      <input type="password" [ngModel]="clienteData.senhaCliente" placeholder="Nova Senha" formControlName="senha">
      <input type="password" placeholder="Confime a Senha" formControlName="confirmarSenha">

      <button class="salvar">Salvar</button>
    </form>
  </div>
</section>
