<section class="container login ff-inter">
  <header class="header">
      <h2>Cadastrar</h2>
  </header>
<form [formGroup]="formulario">


      <label for="nome">Nome</label>
      <input
        type="text"
        class="input"
        id="nome"
        formControlName="nome"
        placeholder="Digite o nome"
      >

      
      <label for="cpf">CPF</label>
      <input
        type="text"
        class="input"
        id="cpf"
        formControlName="cpf"
        placeholder="Digite o CPF"
      >


      <label for="emailCadastro">E-mail</label>
      <input
        type="text"
        class="input"
        id="email"
        formControlName="email"
        placeholder="Digite o e-mail"
      >


      <label for="tipoUsuario">Tipo de Usuário:</label>
      <select formControlName="tipoUsuario" id="tipoUsuario">
        <option *ngFor="let tipo of tiposUsuario" [value]="tipo">{{ tipo }}</option>
      </select>


      <label for="senha">Senha</label>
      <input
        type="password"
        class="input"
        id="senha"
        name="senha"
        formControlName="senha"
        placeholder="Digite a senha"
      >


      <label for="confirmarSenha">Confirmar Senha</label>
      <input
        type="password"
        class="input"
        id="confirmarSenha"
        name="confirmarSenha"
        placeholder="Digite novamente a senha"
      >


      <div>
        <button
          (click)="cadastrarUsuario()"
          >Cadastrar
        </button>
      </div>

  </form>

