<section class="container login ff-inter">
  <header class="header">
      <h2>Cadastrar</h2>
  </header>
<form [formGroup]="formulario">


      <label for="nome">Nome</label>
      <input
        type="text"
        class="input"
        id="nome"
        formControlName="nome"
        placeholder="Digite o nome"
      >
      <div *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
        Nome Obrigatório
      </div>

      <label for="cpf">CPF</label>
      <input
        type="text"
        class="input"
        id="cpf"
        formControlName="cpf"
        placeholder="Digite o CPF"
      >
      <div *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched">
        O CPF é Obrigatório
      </div>


      <label for="emailCadastro">E-mail</label>
      <input
        type="text"
        class="input"
        id="email"
        formControlName="email"
        placeholder="Digite o e-mail"
        (input)="onInputChanged()"
        (blur)="procurarEmail()"
      >
      <div *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
        Email Obrigatório
      </div>

      <label for="tipoUsuario">Tipo de Usuário:</label>
      <select formControlName="tipoUsuario" id="tipoUsuario">
        <option *ngFor="let tipo of tiposUsuario" [value]="tipo">{{ tipo }}</option>
      </select>
      <div *ngIf="formulario.get('tiposUsuario')?.errors?.['required'] && formulario.get('tiposUsuario')?.touched">
        Nome Obrigatório
      </div>


      <label for="senha">Senha</label>
      <input
        type="password"
        class="input"
        id="senha"
        name="senha"
        formControlName="senha"
        placeholder="Digite a senha"
      >
      <div *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
        Informe uma senha
      </div>


      <label for="confirmarSenha">Confirmar Senha</label>
      <input
        type="password"
        class="input"
        id="confirmarSenha"
        name="confirmarSenha"
        placeholder="Digite novamente a senha"
      >
      <div *ngIf="formulario.get('confirmarSenha')?.errors?.['required'] && formulario.get('confirmarSenha')?.touched">
        As senhas devem ser iguais.
      </div>

      <div>
        <button
          (click)="cadastrarUsuario()"
          >Cadastrar
        </button>
      </div>

</form>

